.pfp {
  border-radius: 50%;
  max-width: 25%;
  height: auto;
}

.aboutus h2 {
  text-decoration: none;
  color: white;
}

.pfp p {
  font-weight: bold;
}

.us {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkedin {
  border-radius: 50%;
  max-width: 10%;
  margin-top: 3%;
}
