form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  max-width: 82%;
}

input {
  height: 30px;
  margin: 2%;
}

label {
  font-weight: bold;
  color: white;
}

button {
  margin: 10%;
}

.submit {
  width: 40%;
  height: 40%;
}

.delete {
  background-color: red;
  font-weight: bold;
  width: 40%;
  height: 40%;
}
