body {
  text-align: center;
  height: 100%;
}

.background {
  /* background-image: url('./techbackground.jpeg'); */
  background-image: url('./techbg2.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: fit-content;
  height: 100vh;
}

.productLinks {
  color: black;
  text-decoration: none;
}

.productImages {
  max-width: 300px;
}

.logo {
  width: 90px;
}

.profilepic {
  height: 30px;
  width: 35px;
}

.homelogo {
  height: 30px;
  width: 35px;
}

.addlogo {
  height: 30px;
  width: 35px;
}
