body {
  text-align: center;
  height: 100%;
}

.background {
  /* background-image: url('./techbackground.jpeg'); */
  background-image: url('./techbg2.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: fit-content;
  height: 100vh;
}

.cont {
  width: 100%;
}

.productLinks {
  color: black;
  text-decoration: none;
}

.productImage {
  max-width: 300px;
  border-radius: 15px;
}
.logo {
  width: 90px;
}

.profilepic {
  height: 30px;
  width: 35px;
}

.homelogo {
  height: 30px;
  width: 35px;
}

.addlogo {
  height: 30px;
  width: 35px;
}

.searchbar {
  width: 90px;
  border-radius: 15%;
}

.searchbtn {
  width: 37px;
  border-radius: 15%;
}

.logoutbtn {
  width: 65px;
  border-radius: 15%;
}

.productLists {
  padding-top: 40px;
}

.productLinks {
  color: white;
}

.productTitle {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
}

.productPrice {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
}

.productCondition {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
}

.productDetailCondition {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  color: white;
}

.productDetailImage {
  max-width: 300px;
  border-radius: 15px;
}

.productDetailTitle {
  color: white;
}

.productDetailDescription {
  color: white;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
}

.productDetailPrice {
  color: white;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
}

.productDetailCard {
  padding-top: 30px;
}

.productListTitle {
  color: white;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
}

.editButton {
}

.editProductForm {
  padding-top: 40px;
  padding-bottom: 40px;
}
